/* GENERAL */

a {
    text-decoration: none;
    color: white;
}

.line {
    height: 4px;
    width: 130px;
    border-radius: 16px;
}

textarea {
    min-height: 200px;
}

input[type="text"], 
input[type="email"],
input[type="number"],
textarea {
    border: 0;
    border-bottom: 2px solid #d3d2d3;
    width: 100%;
    color: #304050;
    padding: 16px 0;
}

input[type="text"]::placeholder, 
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
    color: #304050;
    font-size: 20px;
    font-weight: 600;
}

input[type="text"]:focus, 
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    /* border: 0px; */
    appearance: none;
    
}

/* HEADER */

header {
    color: white;
    background-color: #304050;
}

header nav > div:hover {
    background-color: #222e3a;
    cursor: pointer;
}

header nav > div > a {
    font-size: 0.8rem;
    font-weight: 600;
}

/* MAIN */

.bgTeal { 
    background-color: #29ba9c; 
    color: white;
}

.bgWhite {
    background-color: white;
    color: #304050;
}

.bgDarkBlue {
    background-color: #304050;
}

section {
    padding: 48px 0;
}

section h1 {
    font-size: 48px;
    font-weight: 600;
}

/* jumbo section */

section#jumbo img {
    width: 200px;
}
